#first{
  background-color: blue;
}

#second{
  background-color: white;
}

#third{
  background-color: red;
}

img{

  max-width: 100%;
}

.formulaire input{
  font-size: 32px;
  display: block;
  border: 1px solid grey;
}
